@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.ttf") format("truetype");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white text-black font-sans;
}
